<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/simplex/bootstrap.min.css", rel="stylesheet">
    <link href="./static/css/static.css" rel="stylesheet">
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="static/images/logo.jpg" onerror="this.onerror=null; this.remove()"  width="45", height="30"></a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/sunburst">Sunburst</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/map">Circuit Map</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/sources">Sources</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- add spacing -->
    <br/>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
              <h1>About Us</h1>
              <br/>
            </div>
        <div class="row">
            <div class="col-md-4 about-block">
                <h3>Marta Baker</h3> 
                <img src="static/images/Marta.jpg" alt="Marta Baker" class="img-fluid">
                <p>Marta is a Quality Control Data Analyst for a market research company. When she isn't working, she's hanging out with friends, reading, or watching copious amounts of sports with her 3 cats.</p>
                <a href="https://github.com/martabaker">Marta Baker's GitHub</a>
            </div>

            <div class="col-md-4 about-block">
                <h3>Kevin Carney</h3> 
                <img src="static/images/Kevin.jpg" alt="Kevin Carney" class="img-fluid">
                <p>KC BIO</p>
                <a href="https://github.com/KevinPCarney">Kevin Carney's GitHub</a><br/>
            </div>

            <div class="col-md-4 about-block">
                <h3>Katie Rebeck</h3> 
                <img src="static/images/Katie.jpg" alt="Katie Rebeck" class="img-fluid">
                <p>KR BIO</p>
                <a href="https://github.com/kjrebeck">Katie Rebeck's GitHub</a>
            </div>
        </div>
    </div>
</body>
</html>