<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formula 1 Reference</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/simplex/bootstrap.min.css", rel="stylesheet">
    <link href="./static/css/static.css" rel="stylesheet">

    <!-- JS IMPORTS - External Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <!-- Having issue getting the logo image loading -->
            <a class="navbar-brand" href="/"><img src="static/images/logo.jpg" onerror="this.onerror=null; this.remove()" width="45", height="30"></a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/sunburst">Sunburst</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/map">Circuit Map</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/sources">Sources</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- add spacing -->
    <br/>

    <!-- Dashboard -->
     <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Formula 1 Reference Guide</h1>
            </div>
        </div>
     </div>

     <br/>
     <br/>

     <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
              
              <br/>
            </div>
        <div class="row">
            <div class="col-md-4 about-block">
                <h3>What is Formula 1?</h3> 
                <p>Formula 1 is team-based car racing that occurs all across the world.  Up to 20 drivers can participate in any given race.  Each of the teams have two cars they can potentially use in a race.  An average F1 car can reach up to 370km/h or 229.91 mph! </p>
                
            </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    
                    <br/>
                </div>
            <div class="row">
                <div class="col-md-4 about-block">
                    <h3>Definiton: Circuit</h3> 
                    <p>A Circuit with regards to Formula 1 are the various tracks where the races take place.  As of August, 2024 there are 77 active circuits spread across 34 different countries throughout the world.  </p>
                    
                </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        
                        <br/>
                    </div>
                <div class="row">
                    <div class="col-md-4 about-block">
                        <h3>Definiton: Constructor</h3> 
                        <p>A Constructor refers to the various teams that Formula 1 racers are associated with.  Though teams can be privately owned, it is not uncommon for an F1 team to be sponsored by company.  In order to be certified as a constructor, a perspective applicant must apply to the FIA (the governing body of F1), and pay a $200 million entry fee.   </p>
                        float: right;
                    </div>

           
</body>

</html>